.App {
  background-color: #FFFFFE;
}

.App-wrapper {
  width: 100%;
  /* height: 100vh; */
  max-width: 1200px;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-bottom: 80px;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.Modal {
  max-width: 300px;
  height: 306px;
  background: #fffffe;
  border-radius: 10px;
  padding: 0 10px 0px 10px;
}

.ModalHeader, .ModalFooter {
  height: 50px;
  display: flex;
  align-items: center;
}

.ModalHeader {
  border-bottom: 1px solid grey;
}

.ModalFooter {
  border-top: 1px solid grey;
  justify-content: end;
}

.CloseButton {
  background: none;
  border: none;
  color: #FF8E3C;
}

.PostButton {
  background: #FF8E3C;
  border: none;
  color: #fff;
  border-radius: 15px;
  width: 50px;
  height: 30px;
}

.PostForm {
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
}

.title-input, .content-input {
  flex-basis: 100%; 
  border: none;
  background: transparent;
}



.title-input {
  height: 50px;

}
textarea {
  flex-basis: 100%;
  background: none;
  border: none;
  height: 150px;
  resize: none;
}

.PostCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 380px;
  background: #EFF0F3;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;

  position: relative;
}

.PostCard h2, .PostCard p {
  margin: 0;
}

.PostCard p:nth-child(2) {
  margin-top: 3px;
  margin-bottom: 10px;
}

.ChevButton {
  height: 26px;
  background: none;
  border: none;
  color: #FF8E3C;
}

.EditPostModal {
  background: #FFFFFE;
  color: #E0245E;
  
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.EditPostModal ul {
  padding: 0;
  margin: 0;
}

.EditPostModal ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.EditPostModal ul li button {
  border: none;
  background: none;
  color: #E0245E;
  padding: 0;
  margin: 0;
}

.EditPostModal ul li:nth-child(1) {
  padding-bottom: 10px;
}

.AddPostButton {
  background: #FF8E3C;
  color: #fff;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
}

.MenuBar {
  height: 57px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}