.App {
  /* text-align: center; */
  background-color: #FFFFFE;
}

.App-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-bottom: 80px;
}

.PostCard {
  width: 100%;
  max-width: 380px;
  background: #EFF0F3;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.PostCard h2, .PostCard p {
  margin: 0;
}

.PostCard p:nth-child(2) {
  margin-top: 3px;
  margin-bottom: 10px;
}

.AddPostButton {
  background: #FF8E3C;
  color: #fff;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
}

.MenuBar {
  height: 57px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

